affine==2.4.0
attrs==25.4.0
beautifulsoup4==4.14.2
blinker==1.9.0
branca==0.8.2
bs4==0.0.1
certifi==2025.10.5
charset-normalizer==3.4.3
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
contextily==1.6.2
contourpy==1.3.3
cycler==0.12.1
diskcache==5.6.3
fiona==1.10.1
Flask==3.1.2
flask-cors==6.0.1
folium==0.20.0
fonttools==4.60.1
geographiclib==2.1
geopandas==1.1.1
geopy==2.4.1
gpd==1.1.1
idna==3.10
ijson==3.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
loguru==0.6.0
mapbox-vector-tile==2.2.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mercantile==1.2.1
numpy==2.3.3
packaging==25.0
pandas==2.3.3
pillow==11.3.0
protobuf==6.33.0
psutil==7.1.1
pyarrow==21.0.0
pyclipper==1.3.0.post6
pydantic==1.10.24
pyogrio==0.11.1
pyparsing==3.2.5
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.4.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
shapely==2.1.2
six==1.17.0
soupsieve==2.8
tabulate==0.8.10
-e git+ssh://git@github.com/rohanbennur43/ucr-bigdatalab-starmap.git@5b37fbf3515a7cb4eacdd8d53df49f17e1ed3055#egg=tile_geoparquet&subdirectory=tile-geoparquet
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
xyzservices==2025.4.0
